rect:hover {
  fill: orange;
}
.bar-lay {
    fill:#458B00;
}

.bar-svz {
    fill:blue;
}

.bar-int {
    fill:red;
}

.bar-striatal {
    fill:gray;
}
.bar-rg {
    fill:blue;
}
.bar-cho {
    fill:black;
}
input[type=text] {
    width: 20%;
    border-radius: 5px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #ffffff;
  height: 100%;
}
.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 3px solid #4B9CD3;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: #4B9CD3;
  bottom: -20px;
  margin-left: -4px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}